@use '@angular/material' as mat;

html {
  color-scheme: dark;
}

$theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$orange-palette,
  ),
));



.mdc-button--raised {
  background-color: var(--color-primary) !important;
}

.mdc-button--raised:hover {
  background-color: var(--color-primary-hover) !important;
}

.mdc-button {
  border-radius: 12px !important;
}