@theme {
  --color-background: #07080C;
  --color-foreground: #E8E6E0;

  --color-primary: #C8841A;
  --color-primary-hover: #E09A2A;

  --color-card: #0C0D14;

  --color-border: rgba(255,255,255,0.07);

  --font-heading: "Rajdhani";
  --font-body: "Outfit";
}